
* {
  font-family: 'Quicksand', sans-serif;
}

.top {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 100px;
  width: 100%;
}

.bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: url('https://images.pexels.com/photos/39943/pexels-photo-39943.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  opacity: 1;


}

.FaShippingFast {
  position: absolute;
  bottom: 70px;
  color: #fff;
  font-size: 100px;
}

.top h2 {
  color: white;
  text-align: center;
  margin: 60px;
  z-index: 1000;

  /* align-items: center; */
  /* align-self: center; */
  /* background: #fff; */
}

header div {
  color: white;
  padding: 50px;
  /* font-weight: bold; */
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu p {
  font-weight: bold;
  padding: 5px;
}

.menu p:hover {
  color: #e0e0e0
}

.menu p:active {
  color: #e0e0e0
}

h2 {
  margin: 0px;
}

p {
  margin: 0px;
}

.services, .contact {
  background: #fff;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.services h2 {
  padding: 40px;
  width: 80%;
}

.services div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.icons {
  padding: 20px;
  width: 80%;
  align-self: center;
}

.services div p {
  width: 100%;
}

.icon-title {
  border-bottom: 4px solid #ffc107;
}


.services p {
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
  font-weight: bold;
  color: #212121;
  padding-bottom: 150px;
  padding-top: 150px;
}

.contact h2 {
  color: #424242;
  margin: 0px;
  width: 80%;
  padding-top: 40px;
  margin-bottom: 20px;
}


.contact p {
  align-self: flex-start;
  margin: 0px;
  /* font-size: 35px; */
}

.contact div {
  padding: 50px;
  font-size: 25px;
  background: #fff;
  border-radius: 21px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100px;
}

.footer p {
  background-color: black;
  color: #616161;
  font-size: 12px;
}




@media only screen and (max-width: 700px) {
  .services div {
    flex-direction: column;
  }

  .services div p {
    width: 80%;
  }
}
