header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 50vh;
  /* background-color: #f5f5f5; */
  background-image: url('https://images.pexels.com/photos/1013516/pexels-photo-1013516.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

header div {
  width: 50%;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu p {
  padding: 10px;
}

.menu p:hover {
  color: #e0e0e0
}

.menu p:active {
  color: #e0e0e0
}

h2 {
  padding-left: 20px;
}

.services div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.services div p {
  width: 25%;
}


.services p {
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100px;
}

.footer p {
  color: #424242;
  font-size: 12px;
}




@media only screen and (max-width: 700px) {
  .services div {
    flex-direction: column;
  }

  .services div p {
    width: 80%;
  }
}
